# Supabase Configuration
SUPABASE_URL=https://lpauvtednydofkghhtut.supabase.co
SUPABASE_PUBLISHABLE_KEY=sb_publishable_yzoj0S2c_oHz8TYsCHURFg_q22ha1xz
DATABASE_URL=postgresql://postgres:[Honhon2003@2003@]@db.lpauvtednydofkghhtut.supabase.co:5432/postgres

# FastAPI Configuration
SECRET_KEY=your_secret_key
DEBUG=True
